@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Roboto+Slab&display=swap');


body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: linear-gradient(rgb(153, 235, 116), rgb(95, 93, 93));
    background-repeat: no-repeat;
}

.conteiner-nav{
    display: grid;
    width: 100%;
    height: 15vh;
    grid-template-columns: repeat(8, 1fr);
    grid-template-areas: 
    "img-nav li-nav li-nav li-nav li-nav li-nav li-nav insta "
    ;
}

.img-nav{
    grid-area: img-nav;
}

.li-nav{
    grid-area: li-nav;
    grid-column-start: 4;
    grid-column-end: 7;
    text-align: center;
    align-items: center;
}

.ul-nav{
    display: flex;
    
}

/*
header{
    background-color: rgb(153, 235, 116);
    display: flex;
    justify-content: space-between;
}
*/

.nav-1{
    list-style: none;
    text-decoration: none;
    font-family: 'Bree Serif', serif;
    font-family: 'Roboto Slab', serif;
    display: flex;
    gap: 70px;
    padding: 10px;
}

.list-1{
    position: relative;
    letter-spacing: 0.5px;
    padding: 0 10px;
    list-style: none;
}

.list-1::after{
    content: "";
    position: absolute;
    background-color: rgb(56, 55, 55);
    height: 3px;
    width: 0%;
    left: 0;
    bottom: -10px;
    transition: 1s;
}

.list-1:hover::after{
    width: 100%;
}

.nav-2{
    list-style: none;
    text-decoration: none;
    color: black;
}

.logo-1{
    
    margin: 10px 10px;
    transition: 1s;
}

.logo-1:hover{
    transform: scale(1.1);
    transition: 1s;
}


.insta{
    width: 7%;
    font-size: 30px;
    color: rgb(184, 31, 31);
    padding: 20px;
    transition: 1s;
    display: flex;
    justify-content: space-evenly;
    gap: 5px;
    grid-area: insta;
}

.insta-1{
    color: black;
}

.insta-2{
    color: black;
}

.insta-1:hover{
    transform: scale(1.1);
    transition: 1s;
}

.insta-2:hover{
    transform: scale(1.1);
    transition: 1s;
}

main section h1{
    text-shadow: 5px 5px 5px black;
    padding: 15px 15px;
    margin: 15px 15px;
}

.conteiner-0{
    margin: 15px auto 15px auto;
    width: 90%;
    height: 500px;
}

.img-portada{
    width: 100%;
    height: 100%;
    transition: 2s;
}

.img-portada:hover{
    transform: scale(1.05);
    transition: 2s;
}

.titulo-principal{
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    bottom: 5%;
    left: 5%;
}

.titulo-final{
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
}

.contacto-final{
    font-style: italic;
    list-style: none;
    padding: 10px;
}

footer{
    background-color: rgb(95, 93, 93);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.logo-2{
    width: 30%;
    border-radius: 70%;
    margin: 10px 10px;
}

.conteiner-1{
    width: 100%;
    height: 492px;
    display: flex;
    justify-content: space-around;
}

.card-1{
    border: 2px black solid;
    border-radius: 20px;
    text-align: center;
    align-items: center;
    height: 80%;
    width: 300px;
    margin: auto auto;
}

.conteiner-grid{
    width: 100%;
    height: 74vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    "card-11 card-22"
    "card-11 card-22"
    "card-11 card-22"
    ;
}

.card-11{
    grid-area: card-11;
    border: 2px black solid;
    border-radius: 20px;
    text-align: center;
    align-items: center;
    grid-column-start: 0;
    grid-column-end:1;
    grid-row-start: 2;
    grid-row-end: 3;
}

.card-22{
    grid-area: card-22;
    border: 2px black solid;
    border-radius: 20px;
    text-align: center;
    align-items: center;
    grid-column-start: 2;
    grid-column-end:3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.button-1{
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: center;
    margin: auto auto;
    
}

.button-2{
    margin: 2%;
}
