@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Roboto:ital,wght@0,400;0,700;1,300&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: linear-gradient(rgb(153, 235, 116), rgb(95, 93, 93));
    background-repeat:repeat-x;
    background-size: contain;

}

.conteiner-nav{
    display: grid;
    width: 100%;
    height: 15vh;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "img-nav li-nav insta"
    ;
}

.img-nav{
    grid-area: img-nav;
}

.li-nav{
    grid-area: li-nav;
    text-align: center;
    align-items: center;
    margin: 20px;
}

.ul-nav{
    display: flex;
    justify-content: space-around;
}

/*
header{
    background-color: rgb(153, 235, 116);
    display: flex;
    justify-content: space-between;
}
*/

.nav-1{
    list-style: none;
    text-decoration: none;
    font-family: 'Bree Serif', serif;
    font-family: 'Roboto Slab', serif;
    display: flex;
    gap: 70px;
    padding: 10px;
}

.list-1{
    position: relative;
    letter-spacing: 0.5px;
    padding: 0 10px;
    list-style: none;
}

.list-1::after{
    content: "";
    position: absolute;
    background-color: rgb(56, 55, 55);
    height: 3px;
    width: 0%;
    left: 0;
    bottom: -10px;
    transition: 1s;
}

.list-1:hover::after{
    width: 100%;
}

.nav-2{
    list-style: none;
    text-decoration: none;
    color: black;
}

.logo-1{
    
    margin: 10px 10px;
    transition: 1s;
}

.logo-1:hover{
    transform: scale(1.1);
    transition: 1s;
}


.insta{
    width: 7%;
    font-size: 30px;
    color: rgb(184, 31, 31);
    padding: 20px;
    transition: 1s;
    display: flex;
    justify-content: space-evenly;
    gap: 5px;
    grid-area: insta;
    margin: auto auto;
}

.insta-1{
    color: black;
}

.insta-2{
    color: black;
}

.insta-1:hover{
    transform: scale(1.1);
    transition: 1s;
}

.insta-2:hover{
    transform: scale(1.1);
    transition: 1s;
}



.conteiner-0{
    margin: 15px auto 15px auto;
    width: 90%;
    height: 500px;
}

.img-portada{
    width: 100%;
    height: 100%;
    transition: 2s;
}

.img-portada:hover{
    transform: scale(1.05);
    transition: 2s;
}

.titulo-principal{
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    bottom: 5%;
    left: 5%;
    text-shadow: 5px 5px 5px black;
    padding: 15px 15px;
    margin: 15px 15px;
}

.titulo-final{
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    align-content: end;
}

.contacto-final{
    font-style: italic;
    list-style: none;
    padding: 10px;
}

footer{
    background-color: rgb(95, 93, 93);
      display: grid;
    width: 100%;
    height: 15vh;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "info-contactos pic-final title-final"
    ;
    
}

.info-contactos{
    grid-area: info-contactos;
}

.pic-final{
    grid-area: pic-final;
    margin: auto auto;
    justify-self: center;
}

.title-final{
    grid-area: title-final;
    justify-self: end;
}

.logo-2{
    width: 55%;
    border-radius: 70%;
    align-content: center;
}

.conteiner-1{
    width: 100%;
    height: 492px;
    display: flex;
    justify-content: space-around;
}

.card-1{
    border: 2px black solid;
    border-radius: 20px;
    text-align: center;
    align-items: center;
    height: 80%;
    width: 300px;
    margin: auto auto;
}

.conteiner-grid{
    width: 100%;
    height: 74vh;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
    "card-11 card-22"
    "card-11 card-22"
    "card-11 card-22"
    ;
}

.card-11{
    color: rgb(0, 0, 0);
    box-shadow: 2px 2px 2px 2px rgb(66, 136, 66);
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image:  radial-gradient(#4cad52 0.5px, transparent 0.5px), radial-gradient(#4cad52 0.5px, #e5e5f7 0.5px);
    background-size: 20px 20px;
    background-position: 0 0,10px 10px;
    grid-area: card-11;
    border: 2px black solid;
    border-radius: 20px;
    text-align: center;
    align-items: center;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
}

.card-11:hover{
    box-shadow: 5px 5px 5px 5px gray;
    transform: translateY(-3%);
}

.card-22{
    color: rgb(0, 0, 0);
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image:  radial-gradient(#4cad52 0.5px, transparent 0.5px), radial-gradient(#4cad52 0.5px, #e5e5f7 0.5px);
    background-size: 20px 20px;
    background-position: 0 0,10px 10px;
    box-shadow: 2px 2px 2px 2px rgb(66, 136, 66);
    grid-area: card-22;
    border: 2px black solid;
    border-radius: 20px;
    text-align: center;
    align-items: center;
    grid-column-start: 6;
    grid-column-end:8;
    grid-row-start: 2;
    grid-row-end: 4;
}

.card-22:hover{
    box-shadow: 5px 5px 5px 5px gray;
    transform: translateY(-3%);
}


.button-1{
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: center;
    margin: auto auto; 
}

.button-2{
    margin: 2%;
}


.li-2{
    list-style: none;
}

.conteiner-imags{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.img-galeria{
    width: 20%;
    border-radius: 50%;
    box-shadow: 0 5px 10px -5px rgb(0 0 0 / 30%);
    padding: 20px;
    margin: auto auto;
}

.button-nav{
    justify-self: center;
    grid-area: button-nav;
    display: none;
}

.button-nav1{
    display: none;
}

@media screen and (max-width: 550px){

    .insta{
        display: none;
    }


   .conteiner-nav{
    display: grid;
    width: 100%;
    height: 15vh;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "img-nav button-nav"
    ;
   }

   .button-nav{
    justify-self: end;
    display: block;
    border: none;
    background-color: transparent;
    font-size: 30px;
   }

    .li-nav{
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: rgb(18, 37, 37);
        box-shadow: 0 0 0 100vmax (0, 0, 0, .5);
    }

    .li-nav .visible{
        opacity: 1;
        visibility: visible;
    }

    .ul-nav{
        flex-direction: column;
        align-items: end;
        gap: 1rem;
    }
    .nav-2{
        color: white;
    }
}

.form{
    font-family: 'Bree Serif', serif;
    font-family: 'Roboto', sans-serif;
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image:  radial-gradient(#4cad52 0.5px, transparent 0.5px), radial-gradient(#4cad52 0.5px, #e5e5f7 0.5px);
    background-size: 20px 20px;
    background-position: 0 0,10px 10px;
    width: 100%;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: auto auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 100px auto 100px auto;
    width: 90%;
    max-width: 400px;
    height: 200px;
    padding: 4.5em 3em;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px rgb(0 0 0 / 30%);
}

.form-card{
    width: 90%;
    max-width: 400px;
}

.form-title{
    font-size: 2em;
    margin-bottom: .5em;
}

.form-p{
    font-weight: 300;
    
}

.form-link{
    font-weight: 400;
    color: black;
}

.form-conteiner{
    margin-top: 3em;
    display: grid;
    gap: 2.5em;
}

.form-group{
    position: relative;
 
    --color: #5757577e;
}

.form-input{
    width: 100%;
    background: none;
    color: #706c6c;
    font-size: 1rem;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color);
    font-family: 'Roboto', sans-serif;
}

.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label{
    transform: translateY(-12px) scale(.7);
    transform-origin: left top;
    color: rgb(84, 84, 240);
}

.form-label{
    color: var(--color);
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(10px);
    transition: transfrom .5s, var(--color) .3s;
}

.form-submit{
    background-color: #3866f2;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    padding: .8em 0;
    border: none;
    border-radius: .5em;
}

.form-line{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #3866f2;
}

